{%extends 'base.html'%}
{%block main %}

<h3>회원가입</h3>

<form action="{%url 'signup'%}" style="width: 50%; margin: 50px auto 100px auto; text-align: left;" method="POST">
    {%csrf_token%}
    <div class="form-group">
        <label for="exampleFormControlInput1">아이디 (Username)</label>
        <input type="username" class="form-control" id="exampleFormControlInput1" placeholder="username" name="username">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">비밀번호 (Password)</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="********" name="password1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">비밀번호 확인 (Confirm Password)</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="********" name="password2">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">이름 (Name)</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="홍길동" name="name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">email (Email)</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="202000123" name="std_num">
    </div>
    <br>
    <div class="text-center">
        <input type="submit" value="회원가입" class="submit-button btn btn-primary" style="float:none !important; height: 38px;">
    </div>
    
</form>
{%endblock%}
